:root {
  --label: 0 0% 9%;
  --secondary-label: 240 2% 25%;
  --tertiary-label: 240 2% 42%;
  --quaternary-label: 240 2% 52%;
  --placeholder: 240 2% 52%;
  --link: 211 47% 47%;
  --accent: 58 100% 29%;
  --ring: 198 57% 48%;
  --background: 60 57% 90%;
  --surface-raised: 60 100% 95%;
  --surface-overlay: 55 100% 79%;
  --grouped-background: 55 100% 90%;
  --grouped-surface: 52 100% 94%;
  --grouped-surface-inset: 47 28% 84%;
  --fill: 240 6% 50%;
  --fill-secondary: 240 5% 92%;
  --fill-tertiary: 240 4% 65%;
  --fill-quaternary: 240 4% 35%;
  --separator: 240 6% 50%;
  --separator-opaque: 240 5% 82%;
  --system-blue: 211 67% 62%;
  --system-brown: 28 53% 42%;
  --system-cyan: 199 86% 39%;
  --system-green: 135 100% 26%;
  --system-indigo: 241 61% 52%;
  --system-mint: 168 37% 42%;
  --system-orange: 28 61% 48%;
  --system-pink: 349 77% 63%;
  --system-purple: 292 55% 41%;
  --system-red: 3 40% 40%;
  --system-teal: 184 100% 35%;
  --system-yellow: 48 100% 50%;
  --system-gray: 240 2% 50%;
  --system-gray-2: 240 2% 55%;
  --system-gray-3: 240 2% 60%;
  --system-gray-4: 240 2% 65%;
  --system-gray-5: 240 2% 70%;
  --system-gray-6: 240 3% 75%;
}